$enable-responsive-font-sizes: true;
$enable-shadows: true;

$blue-green: #006F87;
$light-gray: #edf1eb;
$light-blue-green:#0092b3;

$theme-colors: (
    'primary': $blue-green,
    'secondary': $light-gray,
    'secondaryB': $light-blue-green,
);

@import 'node_modules/bootstrap/scss/bootstrap';

body {
    margin: 0;
    font-family: Roboto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
   
}

// Styles that can be used anywhere go here

.clickable {
    cursor: pointer;
}

// Styles for specific components go here

.HomePage {
    overflow: hidden;
}

.MainBanner {
    block-size: 40rem;
    margin-bottom: 0rem;
    background-image: url('https://user-images.githubusercontent.com/4914611/71026199-b3366c80-20d6-11ea-8d17-ab2dcb52e151.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    
    
   
    
}
// Responsive styles go here

@media (min-width: 576px) {
    // Landscape phones (sm)
    
}

@media (min-width: 768px) {
    // Tablets, small laptops (md)

}

@media (min-width: 992px) {
    // Desktops, laptops (lg)

}

@media (min-width: 1200px) {
    // Large monitors (xl)

}