$primary: #00C2D4;
$primary-alt: rgba(0, 194, 212, 0.7);
$solid-black: #000000;
$solid-white: #FFFFFF;
$light-gray: #F2F2F2;

$theme-colors: (
    'primary': $primary,
    'primary-alt': $primary-alt,
    'solid-black': $solid-black,
    'solid-white': $solid-white,
    'light-gray': $light-gray,
);